<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="stockNameID" class="com.pojo.StockNameID">
        <property name="map">
            <map>
                <entry key="平安银行" value="sz000001"/>
                <entry key="万 科Ａ" value="sz000002"/>
                <entry key="国华网安" value="sz000004"/>
                <entry key="ST星源" value="sz000005"/>
                <entry key="深振业Ａ" value="sz000006"/>
                <entry key="*ST全新" value="sz000007"/>
                <entry key="神州高铁" value="sz000008"/>
                <entry key="中国宝安" value="sz000009"/>
                <entry key="美丽生态" value="sz000010"/>
                <entry key="深物业A" value="sz000011"/>
                <entry key="南 玻Ａ" value="sz000012"/>
                <entry key="沙河股份" value="sz000014"/>
                <entry key="深康佳Ａ" value="sz000016"/>
                <entry key="深中华A" value="sz000017"/>
                <entry key="深粮控股" value="sz000019"/>
                <entry key="深华发Ａ" value="sz000020"/>
                <entry key="深科技" value="sz000021"/>
                <entry key="深天地Ａ" value="sz000023"/>
                <entry key="特 力Ａ" value="sz000025"/>
                <entry key="飞亚达" value="sz000026"/>
                <entry key="深圳能源" value="sz000027"/>
                <entry key="国药一致" value="sz000028"/>
                <entry key="深深房Ａ" value="sz000029"/>
                <entry key="富奥股份" value="sz000030"/>
                <entry key="大悦城" value="sz000031"/>
                <entry key="深桑达Ａ" value="sz000032"/>
                <entry key="神州数码" value="sz000034"/>
                <entry key="中国天楹" value="sz000035"/>
                <entry key="华联控股" value="sz000036"/>
                <entry key="深南电A" value="sz000037"/>
                <entry key="深大通" value="sz000038"/>
                <entry key="中集集团" value="sz000039"/>
                <entry key="东旭蓝天" value="sz000040"/>
                <entry key="中洲控股" value="sz000042"/>
                <entry key="深纺织Ａ" value="sz000045"/>
                <entry key="泛海控股" value="sz000046"/>
                <entry key="京基智农" value="sz000048"/>
                <entry key="德赛电池" value="sz000049"/>
                <entry key="深天马Ａ" value="sz000050"/>
                <entry key="方大集团" value="sz000055"/>
                <entry key="皇庭国际" value="sz000056"/>
                <entry key="深 赛 格" value="sz000058"/>
                <entry key="华锦股份" value="sz000059"/>
                <entry key="中金岭南" value="sz000060"/>
                <entry key="农 产 品" value="sz000061"/>
                <entry key="深圳华强" value="sz000062"/>
                <entry key="中兴通讯" value="sz000063"/>
                <entry key="北方国际" value="sz000065"/>
                <entry key="中国长城" value="sz000066"/>
                <entry key="华控赛格" value="sz000068"/>
                <entry key="华侨城Ａ" value="sz000069"/>
                <entry key="特发信息" value="sz000070"/>
                <entry key="海王生物" value="sz000078"/>
                <entry key="盐 田 港" value="sz000088"/>
                <entry key="深圳机场" value="sz000089"/>
                <entry key="天健集团" value="sz000090"/>
                <entry key="广聚能源" value="sz000096"/>
                <entry key="中信海直" value="sz000099"/>
                <entry key="TCL科技" value="sz000100"/>
                <entry key="宜华健康" value="sz000150"/>
                <entry key="中成股份" value="sz000151"/>
                <entry key="丰原药业" value="sz000153"/>
                <entry key="川能动力" value="sz000155"/>
                <entry key="华数传媒" value="sz000156"/>
                <entry key="中联重科" value="sz000157"/>
                <entry key="常山北明" value="sz000158"/>
                <entry key="国际实业" value="sz000159"/>
                <entry key="申万宏源" value="sz000166"/>
                <entry key="特锐德" value="sz300001"/>
                <entry key="神州泰岳" value="sz300002"/>
                <entry key="乐普医疗" value="sz300003"/>
                <entry key="南风股份" value="sz300004"/>
                <entry key="探路者" value="sz300005"/>
                <entry key="莱美药业" value="sz300006"/>
                <entry key="汉威科技" value="sz300007"/>
                <entry key="天海防务" value="sz300008"/>
                <entry key="安科生物" value="sz300009"/>
                <entry key="豆神教育" value="sz300010"/>
                <entry key="鼎汉技术" value="sz300011"/>
                <entry key="华测检测" value="sz300012"/>
                <entry key="新宁物流" value="sz300013"/>
                <entry key="亿纬锂能" value="sz300014"/>
                <entry key="爱尔眼科" value="sz300015"/>
                <entry key="北陆药业" value="sz300016"/>
                <entry key="网宿科技" value="sz300017"/>
                <entry key="中元股份" value="sz300018"/>
                <entry key="硅宝科技" value="sz300019"/>
                <entry key="银江技术" value="sz300020"/>
                <entry key="大禹节水" value="sz300021"/>
                <entry key="吉峰科技" value="sz300022"/>
                <entry key="*ST宝德" value="sz300023"/>
                <entry key="机器人" value="sz300024"/>
                <entry key="华星创业" value="sz300025"/>
                <entry key="红日药业" value="sz300026"/>
                <entry key="华谊兄弟" value="sz300027"/>
                <entry key="*ST天龙" value="sz300029"/>
                <entry key="阳普医疗" value="sz300030"/>
                <entry key="宝通科技" value="sz300031"/>
                <entry key="金龙机电" value="sz300032"/>
                <entry key="同花顺" value="sz300033"/>
                <entry key="钢研高纳" value="sz300034"/>
                <entry key="中科电气" value="sz300035"/>
                <entry key="超图软件" value="sz300036"/>
                <entry key="新宙邦" value="sz300037"/>
                <entry key="*ST数知" value="sz300038"/>
                <entry key="上海凯宝" value="sz300039"/>
                <entry key="九洲集团" value="sz300040"/>
                <entry key="回天新材" value="sz300041"/>
                <entry key="朗科科技" value="sz300042"/>
                <entry key="星辉娱乐" value="sz300043"/>
                <entry key="*ST赛为" value="sz300044"/>
                <entry key="华力创通" value="sz300045"/>
                <entry key="台基股份" value="sz300046"/>
                <entry key="天源迪科" value="sz300047"/>
                <entry key="合康新能" value="sz300048"/>
                <entry key="福瑞股份" value="sz300049"/>
                <entry key="世纪鼎利" value="sz300050"/>
                <entry key="ST三五" value="sz300051"/>
                <entry key="中青宝" value="sz300052"/>
                <entry key="欧比特" value="sz300053"/>
                <entry key="鼎龙股份" value="sz300054"/>
                <entry key="万邦达" value="sz300055"/>
                <entry key="中创环保" value="sz300056"/>
                <entry key="万顺新材" value="sz300057"/>
                <entry key="蓝色光标" value="sz300058"/>
                <entry key="东方财富" value="sz300059"/>
                <entry key="旗天科技" value="sz300061"/>
                <entry key="中能电气" value="sz300062"/>
                <entry key="天龙集团" value="sz300063"/>
                <entry key="*ST金刚" value="sz300064"/>
                <entry key="海兰信" value="sz300065"/>
                <entry key="三川智慧" value="sz300066"/>
                <entry key="安诺其" value="sz300067"/>
                <entry key="南都电源" value="sz300068"/>
                <entry key="金利华电" value="sz300069"/>
                <entry key="碧水源" value="sz300070"/>
                <entry key="*ST嘉信" value="sz300071"/>
                <entry key="三聚环保" value="sz300072"/>
                <entry key="当升科技" value="sz300073"/>
                <entry key="华平股份" value="sz300074"/>
                <entry key="数字政通" value="sz300075"/>
                <entry key="GQY视讯" value="sz300076"/>
                <entry key="国民技术" value="sz300077"/>
                <entry key="思创医惠" value="sz300078"/>
                <entry key="数码视讯" value="sz300079"/>
                <entry key="易成新能" value="sz300080"/>
                <entry key="恒信东方" value="sz300081"/>
                <entry key="奥克股份" value="sz300082"/>
                <entry key="创世纪" value="sz300083"/>
                <entry key="海默科技" value="sz300084"/>
                <entry key="银之杰" value="sz300085"/>
                <entry key="康芝药业" value="sz300086"/>
                <entry key="荃银高科" value="sz300087"/>
                <entry key="长信科技" value="sz300088"/>
                <entry key="ST文化" value="sz300089"/>
                <entry key="金通灵" value="sz300091"/>
                <entry key="科新机电" value="sz300092"/>
                <entry key="金刚玻璃" value="sz300093"/>
                <entry key="国联水产" value="sz300094"/>
                <entry key="华伍股份" value="sz300095"/>
                <entry key="易联众" value="sz300096"/>
                <entry key="智云股份" value="sz300097"/>
                <entry key="高新兴" value="sz300098"/>
                <entry key="精准信息" value="sz300099"/>
                <entry key="双林股份" value="sz300100"/>
                <entry key="振芯科技" value="sz300101"/>
                <entry key="乾照光电" value="sz300102"/>
                <entry key="达刚控股" value="sz300103"/>
                <entry key="龙源技术" value="sz300105"/>
                <entry key="西部牧业" value="sz300106"/>
                <entry key="建新股份" value="sz300107"/>
                <entry key="吉药控股" value="sz300108"/>
                <entry key="新开源" value="sz300109"/>
                <entry key="华仁药业" value="sz300110"/>
                <entry key="向日葵" value="sz300111"/>
                <entry key="万讯自控" value="sz300112"/>
                <entry key="顺网科技" value="sz300113"/>
                <entry key="中航电测" value="sz300114"/>
                <entry key="长盈精密" value="sz300115"/>
                <entry key="保力新" value="sz300116"/>
                <entry key="嘉寓股份" value="sz300117"/>
                <entry key="东方日升" value="sz300118"/>
                <entry key="瑞普生物" value="sz300119"/>
                <entry key="经纬辉开" value="sz300120"/>
                <entry key="阳谷华泰" value="sz300121"/>
                <entry key="智飞生物" value="sz300122"/>
                <entry key="亚光科技" value="sz300123"/>
                <entry key="汇川技术" value="sz300124"/>
                <entry key="聆达股份" value="sz300125"/>
                <entry key="锐奇股份" value="sz300126"/>
                <entry key="银河磁体" value="sz300127"/>
                <entry key="锦富技术" value="sz300128"/>
                <entry key="泰胜风能" value="sz300129"/>
                <entry key="新国都" value="sz300130"/>
                <entry key="英唐智控" value="sz300131"/>
                <entry key="青松股份" value="sz300132"/>
                <entry key="华策影视" value="sz300133"/>
                <entry key="大富科技" value="sz300134"/>
                <entry key="宝利国际" value="sz300135"/>
                <entry key="信维通信" value="sz300136"/>
                <entry key="先河环保" value="sz300137"/>
                <entry key="晨光生物" value="sz300138"/>
                <entry key="晓程科技" value="sz300139"/>
                <entry key="中环装备" value="sz300140"/>
                <entry key="和顺电气" value="sz300141"/>
                <entry key="沃森生物" value="sz300142"/>
                <entry key="盈康生命" value="sz300143"/>
                <entry key="宋城演艺" value="sz300144"/>
                <entry key="中金环境" value="sz300145"/>
                <entry key="汤臣倍健" value="sz300146"/>
                <entry key="香雪制药" value="sz300147"/>
                <entry key="天舟文化" value="sz300148"/>
                <entry key="睿智医药" value="sz300149"/>
                <entry key="世纪瑞尔" value="sz300150"/>
                <entry key="浦发银行" value="sh600000"/>
                <entry key="白云机场" value="sh600004"/>
                <entry key="东风汽车" value="sh600006"/>
                <entry key="中国国贸" value="sh600007"/>
                <entry key="首创环保" value="sh600008"/>
                <entry key="上海机场" value="sh600009"/>
                <entry key="包钢股份" value="sh600010"/>
                <entry key="华能国际" value="sh600011"/>
                <entry key="皖通高速" value="sh600012"/>
                <entry key="华夏银行" value="sh600015"/>
                <entry key="民生银行" value="sh600016"/>
                <entry key="日照港" value="sh600017"/>
                <entry key="上港集团" value="sh600018"/>
                <entry key="宝钢股份" value="sh600019"/>
                <entry key="中原高速" value="sh600020"/>
                <entry key="上海电力" value="sh600021"/>
                <entry key="山东钢铁" value="sh600022"/>
                <entry key="浙能电力" value="sh600023"/>
                <entry key="华能水电" value="sh600025"/>
                <entry key="中远海能" value="sh600026"/>
                <entry key="华电国际" value="sh600027"/>
                <entry key="中国石化" value="sh600028"/>
                <entry key="南方航空" value="sh600029"/>
                <entry key="中信证券" value="sh600030"/>
                <entry key="三一重工" value="sh600031"/>
                <entry key="福建高速" value="sh600033"/>
                <entry key="楚天高速" value="sh600035"/>
                <entry key="招商银行" value="sh600036"/>
                <entry key="歌华有线" value="sh600037"/>
                <entry key="中直股份" value="sh600038"/>
                <entry key="四川路桥" value="sh600039"/>
                <entry key="保利发展" value="sh600048"/>
                <entry key="中国联通" value="sh600050"/>
                <entry key="宁波联合" value="sh600051"/>
                <entry key="东望时代" value="sh600052"/>
                <entry key="九鼎投资" value="sh600053"/>
                <entry key="黄山旅游" value="sh600054"/>
                <entry key="万东医疗" value="sh600055"/>
                <entry key="中国医药" value="sh600056"/>
                <entry key="厦门象屿" value="sh600057"/>
                <entry key="五矿发展" value="sh600058"/>
                <entry key="古越龙山" value="sh600059"/>
                <entry key="海信视像" value="sh600060"/>
                <entry key="国投资本" value="sh600061"/>
                <entry key="华润双鹤" value="sh600062"/>
                <entry key="皖维高新" value="sh600063"/>
                <entry key="南京高科" value="sh600064"/>
                <entry key="宇通客车" value="sh600066"/>
                <entry key="冠城大通" value="sh600067"/>
                <entry key="浙江富润" value="sh600070"/>
                <entry key="凤凰光学" value="sh600071"/>
                <entry key="中船科技" value="sh600072"/>
                <entry key="上海梅林" value="sh600073"/>
                <entry key="新疆天业" value="sh600075"/>
                <entry key="康欣新材" value="sh600076"/>
                <entry key="宋都股份" value="sh600077"/>
                <entry key="*ST澄星" value="sh600078"/>
                <entry key="人福医药" value="sh600079"/>
                <entry key="金花股份" value="sh600080"/>
                <entry key="东风科技" value="sh600081"/>
                <entry key="海泰发展" value="sh600082"/>
                <entry key="*ST博信" value="sh600083"/>
                <entry key="*ST中葡" value="sh600084"/>
                <entry key="同仁堂" value="sh600085"/>
                <entry key="中视传媒" value="sh600088"/>
                <entry key="特变电工" value="sh600089"/>
                <entry key="*ST济堂" value="sh600090"/>
                <entry key="*ST明科" value="sh600091"/>
                <entry key="*ST易见" value="sh600093"/>
                <entry key="大名城" value="sh600094"/>
                <entry key="湘财股份" value="sh600095"/>
                <entry key="云天化" value="sh600096"/>
                <entry key="开创国际" value="sh600097"/>
                <entry key="广州发展" value="sh600098"/>
                <entry key="林海股份" value="sh600099"/>
                <entry key="同方股份" value="sh600100"/>
                <entry key="明星电力" value="sh600101"/>
                <entry key="青山纸业" value="sh600103"/>
                <entry key="上汽集团" value="sh600104"/>
                <entry key="永鼎股份" value="sh600105"/>
                <entry key="重庆路桥" value="sh600106"/>
                <entry key="美尔雅" value="sh600107"/>
                <entry key="亚盛集团" value="sh600108"/>
                <entry key="国金证券" value="sh600109"/>
                <entry key="诺德股份" value="sh600110"/>
                <entry key="北方稀土" value="sh600111"/>
                <entry key="*ST天成" value="sh600112"/>
                <entry key="浙江东日" value="sh600113"/>
                <entry key="东睦股份" value="sh600114"/>
                <entry key="中国东航" value="sh600115"/>
                <entry key="三峡水利" value="sh600116"/>
                <entry key="西宁特钢" value="sh600117"/>
                <entry key="中国卫星" value="sh600118"/>
                <entry key="长江投资" value="sh600119"/>
                <entry key="浙江东方" value="sh600120"/>
                <entry key="郑州煤电" value="sh600121"/>
                <entry key="ST宏图" value="sh600122"/>
                <entry key="兰花科创" value="sh600123"/>
                <entry key="铁龙物流" value="sh600125"/>
                <entry key="杭钢股份" value="sh600126"/>
                <entry key="金健米业" value="sh600127"/>
                <entry key="弘业股份" value="sh600128"/>
                <entry key="太极集团" value="sh600129"/>
                <entry key="波导股份" value="sh600130"/>
                <entry key="国网信通" value="sh600131"/>
                <entry key="重庆啤酒" value="sh600132"/>
                <entry key="东湖高新" value="sh600133"/>
                <entry key="乐凯胶片" value="sh600135"/>
                <entry key="当代文体" value="sh600136"/>
                <entry key="浪莎股份" value="sh600137"/>
                <entry key="中青旅" value="sh600138"/>
                <entry key="ST西源" value="sh600139"/>
                <entry key="兴发集团" value="sh600141"/>
                <entry key="金发科技" value="sh600143"/>
                <entry key="*ST新亿" value="sh600145"/>
                <entry key="*ST环球" value="sh600146"/>
                <entry key="长春一东" value="sh600148"/>
                <entry key="廊坊发展" value="sh600149"/>
                <entry key="中国船舶" value="sh600150"/>
            </map>
        </property>
    </bean>

    <bean id="stockIDName" class="com.pojo.StockIDName">
        <property name="map">
            <map>
                <entry key="sz000001" value="平安银行"/>
                <entry key="sz000002" value="万 科Ａ"/>
                <entry key="sz000004" value="国华网安"/>
                <entry key="sz000005" value="ST星源"/>
                <entry key="sz000006" value="深振业Ａ"/>
                <entry key="sz000007" value="*ST全新"/>
                <entry key="sz000008" value="神州高铁"/>
                <entry key="sz000009" value="中国宝安"/>
                <entry key="sz000010" value="美丽生态"/>
                <entry key="sz000011" value="深物业A"/>
                <entry key="sz000012" value="南 玻Ａ"/>
                <entry key="sz000014" value="沙河股份"/>
                <entry key="sz000016" value="深康佳Ａ"/>
                <entry key="sz000017" value="深中华A"/>
                <entry key="sz000019" value="深粮控股"/>
                <entry key="sz000020" value="深华发Ａ"/>
                <entry key="sz000021" value="深科技"/>
                <entry key="sz000023" value="深天地Ａ"/>
                <entry key="sz000025" value="特 力Ａ"/>
                <entry key="sz000026" value="飞亚达"/>
                <entry key="sz000027" value="深圳能源"/>
                <entry key="sz000028" value="国药一致"/>
                <entry key="sz000029" value="深深房Ａ"/>
                <entry key="sz000030" value="富奥股份"/>
                <entry key="sz000031" value="大悦城"/>
                <entry key="sz000032" value="深桑达Ａ"/>
                <entry key="sz000034" value="神州数码"/>
                <entry key="sz000035" value="中国天楹"/>
                <entry key="sz000036" value="华联控股"/>
                <entry key="sz000037" value="深南电A"/>
                <entry key="sz000038" value="深大通"/>
                <entry key="sz000039" value="中集集团"/>
                <entry key="sz000040" value="东旭蓝天"/>
                <entry key="sz000042" value="中洲控股"/>
                <entry key="sz000045" value="深纺织Ａ"/>
                <entry key="sz000046" value="泛海控股"/>
                <entry key="sz000048" value="京基智农"/>
                <entry key="sz000049" value="德赛电池"/>
                <entry key="sz000050" value="深天马Ａ"/>
                <entry key="sz000055" value="方大集团"/>
                <entry key="sz000056" value="皇庭国际"/>
                <entry key="sz000058" value="深 赛 格"/>
                <entry key="sz000059" value="华锦股份"/>
                <entry key="sz000060" value="中金岭南"/>
                <entry key="sz000061" value="农 产 品"/>
                <entry key="sz000062" value="深圳华强"/>
                <entry key="sz000063" value="中兴通讯"/>
                <entry key="sz000065" value="北方国际"/>
                <entry key="sz000066" value="中国长城"/>
                <entry key="sz000068" value="华控赛格"/>
                <entry key="sz000069" value="华侨城Ａ"/>
                <entry key="sz000070" value="特发信息"/>
                <entry key="sz000078" value="海王生物"/>
                <entry key="sz000088" value="盐 田 港"/>
                <entry key="sz000089" value="深圳机场"/>
                <entry key="sz000090" value="天健集团"/>
                <entry key="sz000096" value="广聚能源"/>
                <entry key="sz000099" value="中信海直"/>
                <entry key="sz000100" value="TCL科技"/>
                <entry key="sz000150" value="宜华健康"/>
                <entry key="sz000151" value="中成股份"/>
                <entry key="sz000153" value="丰原药业"/>
                <entry key="sz000155" value="川能动力"/>
                <entry key="sz000156" value="华数传媒"/>
                <entry key="sz000157" value="中联重科"/>
                <entry key="sz000158" value="常山北明"/>
                <entry key="sz000159" value="国际实业"/>
                <entry key="sz000166" value="申万宏源"/>
                <entry key="sz300001" value="特锐德"/>
                <entry key="sz300002" value="神州泰岳"/>
                <entry key="sz300003" value="乐普医疗"/>
                <entry key="sz300004" value="南风股份"/>
                <entry key="sz300005" value="探路者"/>
                <entry key="sz300006" value="莱美药业"/>
                <entry key="sz300007" value="汉威科技"/>
                <entry key="sz300008" value="天海防务"/>
                <entry key="sz300009" value="安科生物"/>
                <entry key="sz300010" value="豆神教育"/>
                <entry key="sz300011" value="鼎汉技术"/>
                <entry key="sz300012" value="华测检测"/>
                <entry key="sz300013" value="新宁物流"/>
                <entry key="sz300014" value="亿纬锂能"/>
                <entry key="sz300015" value="爱尔眼科"/>
                <entry key="sz300016" value="北陆药业"/>
                <entry key="sz300017" value="网宿科技"/>
                <entry key="sz300018" value="中元股份"/>
                <entry key="sz300019" value="硅宝科技"/>
                <entry key="sz300020" value="银江技术"/>
                <entry key="sz300021" value="大禹节水"/>
                <entry key="sz300022" value="吉峰科技"/>
                <entry key="sz300023" value="*ST宝德"/>
                <entry key="sz300024" value="机器人"/>
                <entry key="sz300025" value="华星创业"/>
                <entry key="sz300026" value="红日药业"/>
                <entry key="sz300027" value="华谊兄弟"/>
                <entry key="sz300029" value="*ST天龙"/>
                <entry key="sz300030" value="阳普医疗"/>
                <entry key="sz300031" value="宝通科技"/>
                <entry key="sz300032" value="金龙机电"/>
                <entry key="sz300033" value="同花顺"/>
                <entry key="sz300034" value="钢研高纳"/>
                <entry key="sz300035" value="中科电气"/>
                <entry key="sz300036" value="超图软件"/>
                <entry key="sz300037" value="新宙邦"/>
                <entry key="sz300038" value="*ST数知"/>
                <entry key="sz300039" value="上海凯宝"/>
                <entry key="sz300040" value="九洲集团"/>
                <entry key="sz300041" value="回天新材"/>
                <entry key="sz300042" value="朗科科技"/>
                <entry key="sz300043" value="星辉娱乐"/>
                <entry key="sz300044" value="*ST赛为"/>
                <entry key="sz300045" value="华力创通"/>
                <entry key="sz300046" value="台基股份"/>
                <entry key="sz300047" value="天源迪科"/>
                <entry key="sz300048" value="合康新能"/>
                <entry key="sz300049" value="福瑞股份"/>
                <entry key="sz300050" value="世纪鼎利"/>
                <entry key="sz300051" value="ST三五"/>
                <entry key="sz300052" value="中青宝"/>
                <entry key="sz300053" value="欧比特"/>
                <entry key="sz300054" value="鼎龙股份"/>
                <entry key="sz300055" value="万邦达"/>
                <entry key="sz300056" value="中创环保"/>
                <entry key="sz300057" value="万顺新材"/>
                <entry key="sz300058" value="蓝色光标"/>
                <entry key="sz300059" value="东方财富"/>
                <entry key="sz300061" value="旗天科技"/>
                <entry key="sz300062" value="中能电气"/>
                <entry key="sz300063" value="天龙集团"/>
                <entry key="sz300064" value="*ST金刚"/>
                <entry key="sz300065" value="海兰信"/>
                <entry key="sz300066" value="三川智慧"/>
                <entry key="sz300067" value="安诺其"/>
                <entry key="sz300068" value="南都电源"/>
                <entry key="sz300069" value="金利华电"/>
                <entry key="sz300070" value="碧水源"/>
                <entry key="sz300071" value="*ST嘉信"/>
                <entry key="sz300072" value="三聚环保"/>
                <entry key="sz300073" value="当升科技"/>
                <entry key="sz300074" value="华平股份"/>
                <entry key="sz300075" value="数字政通"/>
                <entry key="sz300076" value="GQY视讯"/>
                <entry key="sz300077" value="国民技术"/>
                <entry key="sz300078" value="思创医惠"/>
                <entry key="sz300079" value="数码视讯"/>
                <entry key="sz300080" value="易成新能"/>
                <entry key="sz300081" value="恒信东方"/>
                <entry key="sz300082" value="奥克股份"/>
                <entry key="sz300083" value="创世纪"/>
                <entry key="sz300084" value="海默科技"/>
                <entry key="sz300085" value="银之杰"/>
                <entry key="sz300086" value="康芝药业"/>
                <entry key="sz300087" value="荃银高科"/>
                <entry key="sz300088" value="长信科技"/>
                <entry key="sz300089" value="ST文化"/>
                <entry key="sz300091" value="金通灵"/>
                <entry key="sz300092" value="科新机电"/>
                <entry key="sz300093" value="金刚玻璃"/>
                <entry key="sz300094" value="国联水产"/>
                <entry key="sz300095" value="华伍股份"/>
                <entry key="sz300096" value="易联众"/>
                <entry key="sz300097" value="智云股份"/>
                <entry key="sz300098" value="高新兴"/>
                <entry key="sz300099" value="精准信息"/>
                <entry key="sz300100" value="双林股份"/>
                <entry key="sz300101" value="振芯科技"/>
                <entry key="sz300102" value="乾照光电"/>
                <entry key="sz300103" value="达刚控股"/>
                <entry key="sz300105" value="龙源技术"/>
                <entry key="sz300106" value="西部牧业"/>
                <entry key="sz300107" value="建新股份"/>
                <entry key="sz300108" value="吉药控股"/>
                <entry key="sz300109" value="新开源"/>
                <entry key="sz300110" value="华仁药业"/>
                <entry key="sz300111" value="向日葵"/>
                <entry key="sz300112" value="万讯自控"/>
                <entry key="sz300113" value="顺网科技"/>
                <entry key="sz300114" value="中航电测"/>
                <entry key="sz300115" value="长盈精密"/>
                <entry key="sz300116" value="保力新"/>
                <entry key="sz300117" value="嘉寓股份"/>
                <entry key="sz300118" value="东方日升"/>
                <entry key="sz300119" value="瑞普生物"/>
                <entry key="sz300120" value="经纬辉开"/>
                <entry key="sz300121" value="阳谷华泰"/>
                <entry key="sz300122" value="智飞生物"/>
                <entry key="sz300123" value="亚光科技"/>
                <entry key="sz300124" value="汇川技术"/>
                <entry key="sz300125" value="聆达股份"/>
                <entry key="sz300126" value="锐奇股份"/>
                <entry key="sz300127" value="银河磁体"/>
                <entry key="sz300128" value="锦富技术"/>
                <entry key="sz300129" value="泰胜风能"/>
                <entry key="sz300130" value="新国都"/>
                <entry key="sz300131" value="英唐智控"/>
                <entry key="sz300132" value="青松股份"/>
                <entry key="sz300133" value="华策影视"/>
                <entry key="sz300134" value="大富科技"/>
                <entry key="sz300135" value="宝利国际"/>
                <entry key="sz300136" value="信维通信"/>
                <entry key="sz300137" value="先河环保"/>
                <entry key="sz300138" value="晨光生物"/>
                <entry key="sz300139" value="晓程科技"/>
                <entry key="sz300140" value="中环装备"/>
                <entry key="sz300141" value="和顺电气"/>
                <entry key="sz300142" value="沃森生物"/>
                <entry key="sz300143" value="盈康生命"/>
                <entry key="sz300144" value="宋城演艺"/>
                <entry key="sz300145" value="中金环境"/>
                <entry key="sz300146" value="汤臣倍健"/>
                <entry key="sz300147" value="香雪制药"/>
                <entry key="sz300148" value="天舟文化"/>
                <entry key="sz300149" value="睿智医药"/>
                <entry key="sz300150" value="世纪瑞尔"/>
                <entry key="sh600000" value="浦发银行"/>
                <entry key="sh600004" value="白云机场"/>
                <entry key="sh600006" value="东风汽车"/>
                <entry key="sh600007" value="中国国贸"/>
                <entry key="sh600008" value="首创环保"/>
                <entry key="sh600009" value="上海机场"/>
                <entry key="sh600010" value="包钢股份"/>
                <entry key="sh600011" value="华能国际"/>
                <entry key="sh600012" value="皖通高速"/>
                <entry key="sh600015" value="华夏银行"/>
                <entry key="sh600016" value="民生银行"/>
                <entry key="sh600017" value="日照港"/>
                <entry key="sh600018" value="上港集团"/>
                <entry key="sh600019" value="宝钢股份"/>
                <entry key="sh600020" value="中原高速"/>
                <entry key="sh600021" value="上海电力"/>
                <entry key="sh600022" value="山东钢铁"/>
                <entry key="sh600023" value="浙能电力"/>
                <entry key="sh600025" value="华能水电"/>
                <entry key="sh600026" value="中远海能"/>
                <entry key="sh600027" value="华电国际"/>
                <entry key="sh600028" value="中国石化"/>
                <entry key="sh600029" value="南方航空"/>
                <entry key="sh600030" value="中信证券"/>
                <entry key="sh600031" value="三一重工"/>
                <entry key="sh600033" value="福建高速"/>
                <entry key="sh600035" value="楚天高速"/>
                <entry key="sh600036" value="招商银行"/>
                <entry key="sh600037" value="歌华有线"/>
                <entry key="sh600038" value="中直股份"/>
                <entry key="sh600039" value="四川路桥"/>
                <entry key="sh600048" value="保利发展"/>
                <entry key="sh600050" value="中国联通"/>
                <entry key="sh600051" value="宁波联合"/>
                <entry key="sh600052" value="东望时代"/>
                <entry key="sh600053" value="九鼎投资"/>
                <entry key="sh600054" value="黄山旅游"/>
                <entry key="sh600055" value="万东医疗"/>
                <entry key="sh600056" value="中国医药"/>
                <entry key="sh600057" value="厦门象屿"/>
                <entry key="sh600058" value="五矿发展"/>
                <entry key="sh600059" value="古越龙山"/>
                <entry key="sh600060" value="海信视像"/>
                <entry key="sh600061" value="国投资本"/>
                <entry key="sh600062" value="华润双鹤"/>
                <entry key="sh600063" value="皖维高新"/>
                <entry key="sh600064" value="南京高科"/>
                <entry key="sh600066" value="宇通客车"/>
                <entry key="sh600067" value="冠城大通"/>
                <entry key="sh600070" value="浙江富润"/>
                <entry key="sh600071" value="凤凰光学"/>
                <entry key="sh600072" value="中船科技"/>
                <entry key="sh600073" value="上海梅林"/>
                <entry key="sh600075" value="新疆天业"/>
                <entry key="sh600076" value="康欣新材"/>
                <entry key="sh600077" value="宋都股份"/>
                <entry key="sh600078" value="*ST澄星"/>
                <entry key="sh600079" value="人福医药"/>
                <entry key="sh600080" value="金花股份"/>
                <entry key="sh600081" value="东风科技"/>
                <entry key="sh600082" value="海泰发展"/>
                <entry key="sh600083" value="*ST博信"/>
                <entry key="sh600084" value="*ST中葡"/>
                <entry key="sh600085" value="同仁堂"/>
                <entry key="sh600088" value="中视传媒"/>
                <entry key="sh600089" value="特变电工"/>
                <entry key="sh600090" value="*ST济堂"/>
                <entry key="sh600091" value="*ST明科"/>
                <entry key="sh600093" value="*ST易见"/>
                <entry key="sh600094" value="大名城"/>
                <entry key="sh600095" value="湘财股份"/>
                <entry key="sh600096" value="云天化"/>
                <entry key="sh600097" value="开创国际"/>
                <entry key="sh600098" value="广州发展"/>
                <entry key="sh600099" value="林海股份"/>
                <entry key="sh600100" value="同方股份"/>
                <entry key="sh600101" value="明星电力"/>
                <entry key="sh600103" value="青山纸业"/>
                <entry key="sh600104" value="上汽集团"/>
                <entry key="sh600105" value="永鼎股份"/>
                <entry key="sh600106" value="重庆路桥"/>
                <entry key="sh600107" value="美尔雅"/>
                <entry key="sh600108" value="亚盛集团"/>
                <entry key="sh600109" value="国金证券"/>
                <entry key="sh600110" value="诺德股份"/>
                <entry key="sh600111" value="北方稀土"/>
                <entry key="sh600112" value="*ST天成"/>
                <entry key="sh600113" value="浙江东日"/>
                <entry key="sh600114" value="东睦股份"/>
                <entry key="sh600115" value="中国东航"/>
                <entry key="sh600116" value="三峡水利"/>
                <entry key="sh600117" value="西宁特钢"/>
                <entry key="sh600118" value="中国卫星"/>
                <entry key="sh600119" value="长江投资"/>
                <entry key="sh600120" value="浙江东方"/>
                <entry key="sh600121" value="郑州煤电"/>
                <entry key="sh600122" value="ST宏图"/>
                <entry key="sh600123" value="兰花科创"/>
                <entry key="sh600125" value="铁龙物流"/>
                <entry key="sh600126" value="杭钢股份"/>
                <entry key="sh600127" value="金健米业"/>
                <entry key="sh600128" value="弘业股份"/>
                <entry key="sh600129" value="太极集团"/>
                <entry key="sh600130" value="波导股份"/>
                <entry key="sh600131" value="国网信通"/>
                <entry key="sh600132" value="重庆啤酒"/>
                <entry key="sh600133" value="东湖高新"/>
                <entry key="sh600135" value="乐凯胶片"/>
                <entry key="sh600136" value="当代文体"/>
                <entry key="sh600137" value="浪莎股份"/>
                <entry key="sh600138" value="中青旅"/>
                <entry key="sh600139" value="ST西源"/>
                <entry key="sh600141" value="兴发集团"/>
                <entry key="sh600143" value="金发科技"/>
                <entry key="sh600145" value="*ST新亿"/>
                <entry key="sh600146" value="*ST环球"/>
                <entry key="sh600148" value="长春一东"/>
                <entry key="sh600149" value="廊坊发展"/>
                <entry key="sh600150" value="中国船舶"/>
            </map>
        </property>
    </bean>


</beans>