<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.StockPriceDao">
    <select id="getStockPriceList" resultType="StockPrice">
        select * from srproject.stock_price
    </select>
    <select id="getStockPriceInfoById" resultType="StockPrice">
        select * from srproject.stock_price where id = #{id}
    </select>
</mapper>